@media only screen and (max-width: 480px){
    #search{
        width: 75%;
        bottom: 15%;
    }
    header > div{
        font-size: 60%;
    }
    main >div{
        font-size: 50%;
        width: 33%;
        height: 90%;
    }
    .description{
        font-size: 70%;
        width: 70%;
        height: 80%;
    }
    .description_p{
        font-size: 70%;
        width: 70%;
        height: 80%;
    }
}
@media only screen and (min-width: 481px){
    header > div{
        font-size: 2vw;
    }
    #search{
        width: 85%;
        bottom: 20%;
    }
    main >div{
        font-size: 1.8vw;
        width: 23%;
        height: 65%;
    }
    .description{
        font-size: 1.8vw;
        width: 23%;
    }
    .description_p{
        font-size: 1.8vw;
        width: 23%;
    }
}
header{
    background-color: orange;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 5px 10px;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}
header > div{
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    transition: 0.5s;
    &:hover{
        color: rgb(207, 195, 195);
        transition: 0.5s;
    }
    cursor: pointer;
}
.search{
    height: 50%;
    width: 30%;
    margin-left: 12%;
    margin-top: 1.5%;
    background-color: rgb(224, 228, 233);
    border: solid 2pt rgb(158, 151, 151);
    border-radius: 20px;
    position: absolute;
    right: 6%;
}
#btn{
    display: inline-block;
    height: 70%;
    margin-top: 1%;
    margin-bottom: 0px;
    border:  rgb(224, 228, 233);
    border-radius: 20px;
    background-color: rgb(224, 228, 233);
}
#search{
    display: inline-block;
    background-color: rgb(230, 234, 239);
    border:  rgb(224, 228, 233);
    border-radius: 20px;
    margin-left: 2%;
    height: 60%;
    outline: none;
    position: relative;
}

body{
    background-color: rgb(47, 46, 46);
    cursor:default;
}
::-webkit-scrollbar {
    width: 0;
}
img{
    height:90%;
    width: 100%;
}
main{
    padding-top: 8% ;
}
main > div{
    border-radius: 8px;
    border: 4pt solid rgb(86, 86, 83);
    background-color: rgb(142, 179, 239);
    box-shadow: 10px 10px 10px;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 7%;
    padding-bottom: 1%;
    text-align: center;
    z-index: 300;
    cursor: pointer;
}
.description, .description_p{
    overflow: auto;
    background-color: rgb(142, 179, 239);
    border-radius: 10px;
    border: 4pt solid rgb(86, 86, 83);
    padding: 2%;
    text-align: center;
    display: inline-block;
    position: absolute;
    margin-left: 0px;
}
.description > img, .description_p > img{
    height: 70%;
    width: 90%;
    margin: 4.5%;
    margin-top: 0;
    border-radius: 10px;
    display: block;
}
.gift{
    background-image: url(../img/pig.png);
    background-size: cover;
    border: none;
    background-color: none;
    display: inline-block;
    position: absolute;
    height: 20%;
    width: 10%;
}